<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="host" value="xxx" />
		<add key="port" value="xxx" />
		<add key="accesskey" value="xxx" />
		<add key="accesssecret" value="xxx" />
		<add key="subid" value="xxx" />
	</appSettings> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="includehex" maxdatasize="1024">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="System.Net" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose" />
			<add name="System.Net.Cache" value="Verbose" />
			<add name="System.Net.Http" value="Verbose" />
			<add name="System.Net.Sockets" value="Verbose" />
			<add name="System.Net.WebSockets" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\\enos_network.log" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>