<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="client_type" value="0"/>
		<add key="host" value="xxx" />
		<add key="port" value="xxx" />
		<add key="accesskey" value="xxx" />
		<add key="accesssecret" value="xxx" />
		<add key="subid" value="xxx" />
		<add key="consumergroup" value="xxx"/>
	</appSettings>
</configuration>